body{
    background-image: url(/static/img/f1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

div{
    margin: 0 auto;
    width: 80%;
    min-height: 800px;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    border:1px solid white;
    
    ;}
.esquerda{
    width: 100%;
    margin:0 auto;
    /*border: 1px solid black;*/
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
}

form{
    max-width: 500px;
    min-width: 250px;
}

input{
    width: 100%;
    padding: 40px;
    font-family: KIONA;
    font-size:20px ;
    border:1px;
    border-radius: 20px;
    color:white;
    background: rgb(107,107,107);
    background: radial-gradient(circle, rgba(107,107,107,1) 0%, rgba(39,41,43,1) 100%);    border: 1px groove gray;
}

input:hover{
   
    background: rgb(209,206,226);
    background: linear-gradient(276deg, rgba(209,206,226,1) 0%, rgba(52,64,120,1) 100%); 
    color: white;
   
}


@media (max-width: 1000px) {
    

    form{
      
        width:150px;
    }
    input{

        width: 100%;
        padding: 30px;
        font-family: KIONA;
        font-size:12px ;
    }

   
}

