<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\index.css">
    <title>Escolha</title>
</head>
<body>
    <div>
        <section class="esquerda">
            <form action="/no_user" method="POST">
                <input type="submit" value="Enviar dados de Forma Anônima!" onclick="no_user()">
            </form>
       
            <form action="/pag_index" method="POST">
                <input type="submit" value="Cadastre-se e envie dados!" onclick="index()">
            </form>
        </section>

    
    </div>

</body>
</html>