<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>

    <title>Document</title>
</head>
<body>
    <h1> Teste geolocation</h1>
    <p>Teste1</p>
    <input type="button" value='pegar' onclick="geolocate()">
    <h3>Sua localização:</h3>
    <form action='/enviar' method="POST">
        <h4>X: </h4><input type="text" name="x" id="x">
        <h4>Y: </h4><input type="text" name="y" id="y"><br><br><br>
        <input type="submit" value="Enviar dados de forma anônima" style="border:1px solid ; border-radius: 5px; background-color: black; color: white;"><br><br>
        <!--<input type="submit" value="Enviar dados estando Logado" style="border:1px solid ; border-radius: 5px; background-color: blue; color: white;">-->
    </form>
    <script src="/static/index.js"></script>

</body>
</html>